params {
    input = null
    output = null
    inputType = null
    systems = null
    outputFormat = null
    chunkSize = null

    version = null
    uniprotRelease = null
    iprVersion = null
    iprscanVersion = null

    pirsrRelease = null
    dataPath = null
    forceDownloads = false

    unifireVersion = null
    unifireImage = null

    unifireMemory = null
    pirsrMemory = null
    maxWorkers = null
    iprscan6ProfileName = null

    help = false
}

includeConfig "nextflow/conf/profiles.config"
