includeConfig "nextflow/conf/versions.config"
includeConfig "nextflow/conf/defaults.config"

params {
    input = null
    output = null
    inputType = null

    version = null
    uniprotRelease = null
    iprVersion = null
    iprscanVersion = null

    pirsrRelease = null
    dataPath = params.defaultDataPath
    systems = params.defaultSystems
    skipDownloads = false
    forceDownloads = false
    chunkSize = params.defaultChunkSize

    unifireVersion = params.defaultUnifireVersion
    unifireImage = params.defaultUnifireImage

    unifireMemory = null
    pirsrMemory = null
    maxWorkers = null
    iprscan6ProfileName = "standard"
    outputFormat = params.defaultOutputFormat

    help = false
}

includeConfig "nextflow/conf/profiles.config"