includeConfig "conf/defaults.config"

params {
    input = null
    output = null
    inputType = null
    uniprotRelease = params.defaultUniprotRelease
    dataPath = params.defaultDataPath
    systems = params.defaultSystems
    skipDownloads = false
    chunkSize = params.defaultChunkSize

    unifireVersion = params.defaultUnifireVersion
    iprscanVersion = params.defaultIprscanVersion
    iprVersion = params.defaultIprVersion

    unifireMemory = null
    pirsrMemory = null
    iprscan6ProfileName = "docker"
    outputFormat = params.defaultOutputFormat

    help = false
}

includeConfig "conf/profiles/base.config"

profiles {
    docker {
        includeConfig "conf/profiles/docker.config"
    }
    singularity {
        includeConfig "conf/profiles/singularity.config"
    }
    podman {
        includeConfig "conf/profiles/podman.config"
    }
}
