params {
    input = null
    output = null
    inputType = "fasta"
    uniprotRelease = "2026_02"
    dataPath = null
    useUnirule = true
    useArba = true
    usePirsr = true
    skipDownloads = false
    chunkSize = 500

    unifireVersion = "latest"
    iprscanVersion = "6.0.1"
    iprVersion = "latest"

}

includeConfig "conf/profiles/base.config"

profiles {
    docker {
        includeConfig "conf/profiles/docker.config"
    }
}
