params {
    input = null
    output = null
    inputType = null
    uniprotRelease = "2026_02"
    dataPath = null
    systems = "unirule,arba,pirsr"
    skipDownloads = false
    chunkSize = 500

    unifireVersion = "latest"
    iprscanVersion = "6.0.1"
    iprVersion = "latest"

    unifireMemory = null
    pirsrMemory = null
    iprscan6ProfileName = "docker"
    outputFormat = "TSV"
}

includeConfig "conf/profiles/base.config"

profiles {
    docker {
        includeConfig "conf/profiles/docker.config"
    }
    singularity {
        includeConfig "conf/profiles/singularity.config"
    }
    podman {
        includeConfig "conf/profiles/podman.config"
    }
}
