params {
    iprscan6ProfileName = "awsbatch"
}

executor {
    name = 'awsbatch,singularity'
}

process {
    executor = 'awsbatch'
    withLabel: 'mem_min'        { memory = {  4.GB * task.attempt } }
    withLabel: 'mem_low'        { memory = {  4.GB * task.attempt } }

    withLabel:use_gpu {
        accelerator = 1
    }
}

singularity {
    enabled = true
}