params {
    iprscan6ProfileName = "singularity"
}

executor {
    name = 'google-batch'
}

process {
    executor = 'google-batch'
    // Re-execute job when a spot instance is preempted
    errorStrategy = { task.exitStatus==50001 ? 'retry' : 'terminate' }

    withLabel:use_gpu {
        accelerator = 1
    }
}

singularity {
    enabled = true
}