params {
    iprscan6ProfileNames = (params.iprscan6ProfileNames ?: []) + ['slurm']
}

executor {
    name            = 'slurm'
    queueSize       = 1000
    exitReadTimeout = '30 min'
    submitRateLimit = '10/1sec'
}

process {
    executor = 'slurm'
    withLabel: use_gpu {
        clusterOptions = '--gres=gpu:1'
    }
}

singularity {
    enabled = true
}