includeConfig "./profiles/base.config"

profiles {
    standard       { includeConfig "./profiles/standard.config" }
    apptainer      { includeConfig "./profiles/apptainer.config" }
    awsbatch       { includeConfig "./profiles/awsbatch.config" }
    docker         { includeConfig "./profiles/docker.config" }
    lsf            { includeConfig "./profiles/lsf.config" }
    googlebatch    { includeConfig "./profiles/googlebatch.config" }
    podman         { includeConfig "./profiles/podman.config" }
    singularity    { includeConfig "./profiles/singularity.config" }
    slurm          { includeConfig "./profiles/slurm.config" }
    test           { includeConfig "./profiles/test.config" }
}